@{
    ViewData["Title"] = "Home Page";
}
<h1>Form parametrs parsing demo</h1>
<ul>
    <li><a href="~/Calc/Manual">Manual parsing in single action</a></li>
    <li><a href="~/Calc/ManualWithSeperateHandlers">Manual parsing in seperate actions</a></li>
    <li><a href="~/Calc/ModelBindingInParameters">Model binding (parameters)</a></li>
    <li><a href="~/Calc/ModelBindingInSeperateModel">Model binding (seperate model)</a></li>
</ul>
